:root {
  --field-border-clr: #0d0d0d;
  --filed-bg-clr: #f2c335;
  --attacked-bg-clr: #fff;
  --hit-bg-clr: #ff0000;
}

.gb-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.gb-player,
.gb-enemy {
  box-sizing: border-box;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 3rem);
  grid-template-rows: repeat(10, 3rem);
  place-items: center;
}

.player-field,
.enemy-field,
.hit {
  border: 0.2rem solid var(--field-border-clr);
  width: 100%;
  height: 100%;
}

div[class$='field'] {
  background-color: var(--filed-bg-clr);
}

.drag-over {
  border: dashed 0.2rem red;
}
