:root {
  --field-border-clr: #0d0d0d;
  --filed-bg-clr: #f2c335;
  --attacked-bg-clr: #fff;
  --hit-bg-clr: #ff0000;
}

.gb-container {
  box-sizing: border-box;
  padding: 1rem;
  width: 100vw;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.gb-player,
.gb-enemy {
  box-sizing: border-box;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 3rem);
  grid-template-rows: repeat(10, 3rem);
  place-items: center;
}

.player-field,
.enemy-field,
.hit {
  border: 0.2rem solid var(--field-border-clr);
  width: 100%;
  height: 100%;
}

div[class$='field'] {
  background-color: var(--filed-bg-clr);
}

.drag-over {
  border: dashed 0.2rem red;
}

.player-side,
.enemy-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gb-title {
  text-align: center;
  font-size: 2.5rem;
}

.ready-btn {
  box-sizing: border-box;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--ship-field-bg-clr) 5%,
    #ffc164 100%
  );
  background-color: var(--ship-field-bg-clr);
  padding: 0.4rem;
  border: 0.15rem solid #000;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.ready-btn:hover {
  background: linear-gradient(
    to top,
    var(--ship-field-bg-clr) 5%,
    #ffc164 100%
  );
}

.ready-btn:active {
  position: relative;
  bottom: 0.2rem;
}

.must-place-text {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
