:root {
  --footer-height: 5vh;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-icon {
  height: var(--footer-height);
}
