:root {
  --ship-field-bg-clr: #d88b32;
}

.ship-list-container {
  position: absolute;
  top: var(--header-hegith);
  right: 0;
  width: 50vw;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.8);
}

.instruction {
  text-align: center;
}

.ship-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 1.8rem);
  width: max-content;
}

.ship-list {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.ship-card {
  height: 13rem;
  width: 10rem;
  padding: 1rem;
  border: 0.2rem solid var(--ship-field-bg-clr);
  border-radius: 0.5rem;
  background-color: rgba(177, 177, 177, 0.8);
  margin: 0.5rem;
  overflow: auto;
  font-size: 1.2rem;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.rotate-btn {
  box-sizing: border-box;
  margin-left: auto;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--ship-field-bg-clr) 5%,
    #ffc164 100%
  );
  background-color: var(--ship-field-bg-clr);
  padding: 0.4rem;
  border: 0.15rem solid #000;
  border-radius: 0.5rem;
}

.rotate-btn:hover {
  background: linear-gradient(
    to top,
    var(--ship-field-bg-clr) 5%,
    #ffc164 100%
  );
}

.rotate-btn:active {
  position: relative;
  bottom: 0.2rem;
}

.rotate-btn img {
  width: 1rem;
}

.ship-container .ship-field {
  box-sizing: border-box;
  border: 0.2rem solid var(--field-border-clr);
  background-color: var(--ship-field-bg-clr);
  height: 2rem;
  width: 2rem;
}
